p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Roboto", serif;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto;
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
    height: 100%;
}

.profile {
    background-image: linear-gradient(#b8cfec, #f8e8ed);
    /* background-color: #1d539f !important; */
    text-align: center;
    height: 320px;
    height: 100vh;
    /* margin-bottom: 50px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}

.profile h1 {
    font-size: 50px;
    font-weight: 700;
    color: black;
}

.profile img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    padding: 0px;
}

.picture {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 20px;
}

.profile .profile-picture {
    /* margin-bottom: 30px; */
    height: 100px;
}

.about {
    overflow-x: hidden;
    position: relative;
    background-image: linear-gradient(#b8cfec, #f8e8ed);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    flex-direction: column;
}

.education {
    overflow-x: hidden;
    position: relative;
    background-image: linear-gradient( #f8e8ed, #d4f0f7);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    flex-direction: column;
}

.work {
    overflow-x: hidden;
    position: relative;
    /* background-color: whitesmoke; */
    background-image: linear-gradient( #d4f0f7, #d0d5f7);
    height: 94vh;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    flex-direction: column;
}

.places {
    overflow-x: hidden;
    position: relative;
    /* background-color: whitesmoke; */
    background-image: linear-gradient( #d0d5f7, #b8cfec);
    height: 94vh;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    flex-direction: column;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}