<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <title>{{ title }}</title>

    <style>
        body {
            background-color: black;
            align-items: center;
            margin-top: 100px;
        }
        
        h1,
        p,
        li,
        h2,
        a,
        label {
            color: #39e75f;
            font-family: 'Patrick Hand', cursive;
        }
        
        .box1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <!-- <div class="profile"> -->
    <div class="box1">
        <!-- <img src="static/img/logo_chicken.png" alt="Know Your Chicken Logo" class="profile-img" /> {% for user in users %} -->
        <!-- <div class="img"> -->
        <a href="/user/0/">Welcome!!
            <!-- <div id="profile-picture" class="profile-picture"> -->
            <!-- <img src="{{ user.pic }}" /> -->
            <!-- </div> -->
        </a>
    </div>
    <!-- <p>{{user.name}}</p>
    {% endfor %} -->
    <!-- <h3 style="color: black">Clicky, clicky!</h3> -->
    <!-- </div> -->
    <!-- </div> -->
</body>

</html>