<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" /> -->
    <!-- <link lang="sass" rel="stylesheet" href="/static/styles/main.css" /> -->
    <style>
        body {
            background-color: black;
            align-items: center;
            margin-top: 100px;
        }
        
        h1,
        p,
        li,
        h2,
        a,
        dd,
        dt {
            color: #39e75f;
            font-family: 'Patrick Hand', cursive;
        }
        
        button,
        input[type="submit"],
        input[type="reset"] {
            background: none;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            color: #39e75f;
            font-family: 'Patrick Hand', cursive;
        }
        
        .box {
            max-width: 550px;
            margin: 0 auto;
        }
        
        .box1 {
            line-height: 20%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .myAbout .myContact .myResume {
            display: none !important;
            color: #39e75f;
        }
        
        .blink {
            animation: blink 1s steps(1, end) infinite;
        }
        
        @keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    </style>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
</head>

<body>



    <div class="box1">
        <!-- <p>[root@jane-chong ~]# cd MLH_SRE_Portfolio</p> -->
        <p>[root@jane-chong MLH_SRE_Portfolio]# ls</p>
        <button onclick="myAbout()"> About</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <button onclick="myResume()"> Resume</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/timeline" style="text-decoration: none"> Timeline</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <button onclick="myContact()"> Contact</button>
        <br><br>
        <!-- <p>[root@jane-chong MLH_SRE_Portfolio]# <span class="blink">[]</span></p> -->
        <div id="myAbout">
            <br>
            <p>[root@jane-chong MLH_SRE_Portfolio]# cat About</p>
            <p>Skills = [Python, Java, C, SQL, HTML/CSS, JS, Linux, iOS]</p>
            <p>Current = [MCIT @ UPenn, SRE Fellow @ MLH]</p>
            <p>Past = [Studied Econ in Australia, Ex-consultant @ Deloitte SEA]</p>
            <p>Future = [Seeking Spring 2023 Internship in SRE]</p>
        </div>

        <div id="myResume">
            <br>
            <p>[root@jane-chong MLH_SRE_Portfolio]# cat Resume</p>
            <p>Education: {</p>
            <p>&nbsp&nbsp BEcon @ UQ: 2018, </p>
            <p>&nbsp&nbsp MCIT @ UPenn: 2023</p>
            <p>}</p>
            <p>Experience: {</p>
            <p>&nbsp&nbsp SRE Fellow @ MLH: 2022,</p>
            <p>&nbsp&nbsp S&O Consultant @ Deloitte SEA: 2019-2021</p>
            <p>}</p>
            <p>Hacks: {</p>
            <p>&nbsp&nbsp Pattrn: Intersystems Prize,</p>
            <p>&nbsp&nbsp GreenFridge: Google & Twilio Prize,</p>
            <p>&nbsp&nbsp VirtualCampus: People's Choice</p>
            <p>}</p>
            <p>Skills: {</p>
            <p>&nbsp&nbsp Languages: Python, Java, C, SQL, HTML/CSS, JavaScript, Swift,</p>
            <p>&nbsp&nbsp Tools: Flask, Jinja, React, Express, Google Cloud Platform, Linux, Git,</p>
            <p>&nbsp&nbsp Courses: DS&A, DB, Systems, OOP, Discrete Math (TA)</p>
            <p>}</p>
        </div>

        <div id="myContact">
            <br>
            <p>[root@jane-chong MLH_SRE_Portfolio]# cat Contact</p>
            <a href="https://www.linkedin.com/in/jane96chong/" style="text-decoration: none"> Linkedin</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="https://github.com/Janecching" style="text-decoration: none"> Github</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="https://janecching.github.io/" style="text-decoration: none"> Website</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="https://docs.google.com/document/d/1t5U4Ju-gAhBj9SBNm4Wfsr65CnI22DJd_87rkqajlHE/edit" style="text-decoration: none"> Resume</a>
        </div>

    </div>


    <!-- <div class="box">{% block about %}{% endblock %}</div>
    <div class="box">{% block projects %}{% endblock %}</div>
    <div class="box">{% block education %}{% endblock %}</div>
    <div class="box">{% block work %}{% endblock %}</div>
    <div class="box">{% block resources %}{% endblock %}</div>
    <div class="box">{% block life %}{% endblock %}</div>
    <div class="box">{% block contact %}{% endblock %}</div> -->
    <!-- <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-transparent">
        <a href="/">
            <div class="nav-logo">
                <img src="/static/img/logo_chicken.png" />
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#work">Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#hobbies">Hobbies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#places">Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#map">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hobbies">Collective Hobbies</a>
                </li>
            </ul>
        </div>
        </nav> -->

    <!-- <section class="about" id="about">

    </section> -->

    <!-- <section class="education" id="education">

    </section>

    <section class="work" id="work">

    </section> -->

    <!-- <section class="hobbies" id="hobbies">
        <div class="box">{% block hobbies %}{% endblock %}</div>
    </section> -->

    <!-- <section class="places" id="places">
        <div class="box">{% block places %} {% endblock %}</div>
    </section>

    <section class="map" id="map">
        <div class="box">{% block map %} {% endblock %}</div>
    </section> -->

    document.getElementById('welcomeDiv').style.display = "block";
    <script>
        document.getElementById("myAbout").hidden;

        function myAbout() {
            var x = document.getElementById("myAbout");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myResume() {
            var x = document.getElementById("myResume");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myContact() {
            var x = document.getElementById("myContact");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script> -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>