{% extends 'profile.html' %} {% block about %}
<a href="/">
    <div id="profile-picture" class="profile-picture">
        <img src="{{ pic }}">
    </div>
</a>
<h1>{{name}}</h1>
<p>{{intro}}</p>
{% endblock %} {% block education %} {% for k,v in edu.items() %}
<li>{{k}}:{{v}}</li>
{% endfor %} {% endblock %} {% block work %} {% for k,v in work.items() %}
<li>{{k}}:{{v}}</li>
{% endfor %} {% endblock %}
<!-- {% block hobbies %} {% for i in hobbies %}
<li>{{i}}</li>
{% endfor %} {% endblock %}  -->
{% block places %}
<h3>insert_user_map</h3> {% endblock %}

<!-- Add a template for adding multiple work experiences/education/hobbies using Jinja -->