{% extends 'profile.html' %} {% block about %}
<h1>{{name}}
    <a class="social-icon" href="https://www.linkedin.com/in/jane96chong/">
        <ion-icon name="logo-linkedin"></ion-icon>
    </a>
    <a class="social-icon" href="https://github.com/Janecching">
        <ion-icon name="logo-github"></ion-icon>
    </a>
    <a class="social-icon" href="https://docs.google.com/document/d/1t5U4Ju-gAhBj9SBNm4Wfsr65CnI22DJd_87rkqajlHE/edit?usp=sharing">
        <ion-icon name="document-text-outline"></ion-icon>
    </a>
</h1>

<ul>
    {% for i in intro %}
    <li>{{i}}</li>
    {% endfor %}
</ul>


{% endblock %} {% block projects %}
<h2>Projects</h2>
<ul>
    {% for k,v in project.items() %}
    <li>
        <a href={{k}}> {{v}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %} {% block education %}


<h2>Skills</h2>
<ul>
    {% for k,v in edu.items() %}
    <li>{{k}}: {{v}}</li>
    {% endfor %}
</ul>
{% endblock %} {% block work %}

<h2>Work</h1>
    <ul>
        {% for k,v in work.items()%}
        <li>{{k}}</li>
        {% endfor %} </ul>


    {% endblock %} {% block thoughts %}
    <h2>Thoughts</h1>
        {% endblock %} {% block life %}
        <h2>Life</h1>
            {% endblock %} {% block contact %}
            <h2>Contact</h1>
                {% endblock %}
                <!-- {% block hobbies %}
<div class="main_title">Hobbies</div>
<div class="container mt-4">
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="{{hobby_0.image}}" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">{{hobby_0.hobby}}</h5>
                    <p class="card-text">{{hobby_0.blurb}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="{{hobby_1.image}}" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">{{hobby_1.hobby}}</h5>
                    <p class="card-text">{{hobby_1.blurb}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img src="{{hobby_2.image}}" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">{{hobby_2.hobby}}</h5>
                    <p class="card-text">{{hobby_2.blurb}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %} -->
                <!-- {% block places %}
<div class="places-wrapper wrapper">
    <div class="main_title">Places of Interest</div>



    <div class="accordion_wrap">
        <ul>
            <li class="place_0 active">
                <div class="accordion_item">
                    <div class="icon"></div>
                </div>
                <div class="accordion_menu active">
                    <div class="inner_am">
                        <div class="title">{{place_0.place}}</div>
                        <div class="content">{{place_0.blurb}}</div>
                        <div class="view_more">
                            <a href="{{place_0.link}}">View More</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="place_1">
                <div class="accordion_item">
                    <div class="icon"></div>
                </div>
                <div class="accordion_menu">
                    <div class="inner_am">
                        <div class="title">{{place_1.place}}</div>

                        <div class="content">{{place_1.blurb}}</div>
                        <div class="view_more">
                            <a href="{{place_1.link}}">View More</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="place_2">
                <div class="accordion_item">
                    <div class="icon"></div>
                </div>
                <div class="accordion_menu">
                    <div class="inner_am">
                        <div class="title">{{place_2.place}}</div>
                        <div class="content">{{place_2.blurb}}</div>
                        <div class="view_more">
                            <a href="{{place_2.link}}">View More</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="place_3">
                <div class="accordion_item">
                    <div class="icon"></div>
                </div>
                <div class="accordion_menu">
                    <div class="inner_am">
                        <div class="title">{{place_3.place}}</div>
                        <div class="content">{{place_3.blurb}}</div>
                        <div class="view_more">
                            <a href="{{place_3.link}}">View More</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="place_4">
                <div class="accordion_item">
                    <div class="icon"></div>
                </div>
                <div class="accordion_menu">
                    <div class="inner_am">
                        <div class="title">{{place_4.place}}</div>
                        <div class="content">{{place_4.blurb}}</div>
                        <div class="view_more">
                            <a href="{{place_4.link}}">View More</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="place_5">
                <div class="accordion_item">
                    <div class="icon"></div>
                </div>
                <div class="accordion_menu">
                    <div class="inner_am">
                        <div class="title">{{place_5.place}}</div>
                        <div class="content">{{place_5.blurb}}</div>
                        <div class="view_more">
                            <a href="{{place_5.link}}">View More</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %} {% block map %}
<div class="main_title">Interesting Map</div>
<iframe src="{{map.address}}" width="700" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %} -->
                <!-- </div> -->